<!DOCTYPE html>
<html>
<head>
	<title> Add book </title>
</head>
<body>
<fieldset>
	<legend> Add new book </legend>
		<form action="/book/add" method="POST" enctype="multipart/form-data">
				
			Input title:
			<input type="text" name="title" size="100">
			
			<br>
			<br>
			Input author:
			<input type="text" name="author" size="100">
			
			<br>
			<br>
			Input description:
			<textarea name="description" cols=100 rows=6></textarea>
			
			<br>
			<br>
			Add image:
			<input type="file" name="Image" accept="image/*">
			
			<br>
			<br>
			<input type="submit" value="Submit">
	</form>
</fieldset>
</body>
</html>
